<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-1 d-none d-md-block"></div>
            <div class="col footer-links">
                <a href="https://www.meetup.com/aws-aus/" class="fa-brands fa-meetup fa-2x text-muted" target="_blank"></a>
                <a href="http://slack.awsug.org.au/" class="fa-brands fa-slack fa-2x text-muted" target="_blank"></a>
                <a href="https://awscommunity.social/@awsmelb" class="fa-brands fa-mastodon fa-2x text-muted" target="_blank"></a>
                <a href="https://www.linkedin.com/company/aws-user-group-melbourne/" class="fa-brands fa-linkedin fa-2x text-muted" target="_blank"></a>
                <a href="https://youtube.com/@awsmelb" class="fa-brands fa-youtube-square fa-2x text-muted" target="_blank"></a>
            </div>
            <div class="col col-sm-1 d-none d-md-block"></div>
        </div>
        <div class="row">
            <div class="col col-sm-1 d-none d-md-block"></div>
            <div class="col">
                <h6 class="display-6">Melbourne AWS User Group</h6>
                <p>
                    Copyright &copy; {{ dateFormat "2006" now }} Melbourne AWS User Group Inc.
                </p>
                <p class="font-italic">
                    The Melbourne AWS User Group Inc. is not affiliated with any organisations and is
                    independent from Amazon Web Services.
                </p>
            </div>
            <div class="col col-sm-1 d-none d-md-block"></div>
        </div>
    </div>
</div>